{{ define "consent_header" }}

<div class="content consent-header">
  <h2>{{ or .Data.Session.AuthenticationContext.name .Data.Session.AuthenticationContext.given_name .Data.Session.Subject }},</h2>
  <h3>Your consent is requested by</h3>

  <div class="consent-header-name-container">
    <div>
      {{ if .Data.Session.ClientInfo.LogoURI }}
        <img src="{{.Data.Session.ClientInfo.LogoURI}}" width="42px" height="42px" alt="client logo"/>
      {{ else }}
        <i class="material-icons">apps</i>
      {{ end }}
    </div>

    <div class="consent-header-name">
      <h4>{{ .Data.Session.ClientInfo.Name }}</h4>
      {{ if .Data.Session.ClientInfo.ClientURI }}
        <a href="{{ .Data.Session.ClientInfo.ClientURI }}" target="_blank">{{ .Data.Session.ClientInfo.ClientURI }}</a>
      {{ end }}
    </div>
  </div>

  <div>This application would like access to</div>
</div>

{{ end }}