{{ template "base" . }}

{{ define "title" }}Consent{{ end }}

{{ define "content" }}

  {{ template "consent_scripts" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <form action="?login_id={{ .Data.Session.ID }}" method="post">
      {{ .Data.CsrfField }}

      {{ template "consent_header" . }}

      <div class="content" id="main-content">
        {{ if .Data.ScopesWithoutService }}
          {{ template "consent_scopes_without_service" . }}
        {{ end }}

        {{ if .Data.ServicesWithScopes }}
          {{ template "consent_scopes_with_service" . }}
        {{ end }}

        {{ if .Data.Claims }}
          {{ template "consent_claims" . }}
        {{ end }}

        {{ if .Data.VerifiedClaims.Claims }}
          {{ template "consent_verified_claims" . }}
        {{ end }}

        {{ template "consent_footer" . }}
      </div>
    </form>
  </div>
{{ end }}