{{ template "base" . }}

{{ define "title" }}CIBA Authentication Device Simulator{{ end }}

{{ define "content" }}
  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <h3 class="header">CIBA Authentication Device Simulator</h3>

    <div class="content" id="main-content">

      {{ if .Data.LoginHint }}
        {{ if (eq (len .Data.Requests) 0) }}
          <p>No authentication requests found for <b>{{ .Data.LoginHint }}</b>.</p>
          <p>Your client must submit ciba backchannel authentication request.</p>
        {{ else }}
          {{ range .Data.Requests }}
            <form action="?action=process" method="post">
              <div id="request-{{ .LoginID }}">
                <h6>Welcome <b>{{ .UserIdentifier }}</b>,</h6>

                <p><b>{{ .ClientInfo.Name }}</b> would like access to the following permissions:</p>

                <ul class="scopes-list">
                  {{ range .RequestedScopes }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>

                {{ if .BindingMessage }}
                  <p>{{ .BindingMessage }}</p>
                {{ end }}

                <input type="hidden" name="login_id" id="login_id" value="{{ .LoginID }}">
                <input type="hidden" name="login_state" id="login_state" value="{{ .LoginState }}">

                <div class="buttons-container">
                  <button type="submit" name="decision" value="deny" id="deny-button" class="text-button">
                    Deny
                  </button>
                  <button type="submit" name="decision" value="allow" id="allow-button" class="contained-button">
                    Allow
                  </button>
                </div>
              </div>
            </form>
          {{ end }}
        {{ end }}

      {{ else }}
        <form action="?action=list" method="post">
          {{ if .Data.Processed }}
            <p>Authentication request processed</p>
          {{ end }}

          <p>Type username that you would like to receive authentication requests for</p>

          <div class="form-field">
            <label for="text-field-login_hint">Login hint *</label>
            <input id="text-field-login_hint" name="login_hint" value="{{ .Data.LoginHint }}" required>
          </div>

          <button class="submit-button" type="submit" id="sign-in">Continue</button>
        </form>
      {{ end }}
    </div>
  </div>

{{ end }}
