{{ template "base" . }}

{{ define "title" }}Generate new passkey{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">

      {{ range .Data.FormError.Fields }}
        {{ template "error_message" . }}
      {{ end }}

      <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&identifier={{ .Data.Identifier }}&code={{ .Data.Code }}&server_id={{ .Data.ServerID }}&mode={{ .Data.Mode }}" method="post" id="reset-form">
        {{ .Data.CsrfField }}

        <h2>Generate new passkey</h2>

        <input id="text-field-identifier-input" type="hidden" name="identifier" autocomplete="off" data-lpignore="true" value="{{ .Data.Identifier }}" disabled>

        {{ if not .Data.Code }}
          <div class="form-field extra-top-margin otp-container" id="otp-container">
            <label for="text-field-otp-input">
              <span id="otp-label">Provide verification code you received</span>
            </label>
            <div id="otp-input-container" class="form-field otp-input-container">
              <input type="hidden" name="otp" value="" id="otp-input">
            </div>
            <div class="footer-with-link">
              Still didn't receive?
              <a href="{{ .Data.ResendPath }}">Resend code</a>
            </div>
          </div>
        {{ end }}

        {{ range .Data.FormError.Errors }}
          {{ template "error_message" . }}
        {{ end }}

        <button class="submit-button no-bottom-margin extra-top-margin" type="submit" id="reset-button">
          <span>Continue</span>
          <div class="non-visible">{{ template "loader" . }}</div>
        </button>

        <input type="hidden" name="web_authn_error" id="hidden-text-field-webauthn-error">

      </form>

    </div>
  </div>

  {{ template "footer" . }}

  {{ template "identity_reset_passkey_scripts" . }}

{{ end }}
