{{ define "otp_select" }}

  <h4>{{ or .Data.Session.AuthenticationContext.name .Data.Session.AuthenticationContext.given_name .Data.Session.Subject }}</h4>
  <h3>Additional verification required</h3>
  <p>To proceed, select how you would like to verify your identity</p>

  <div class="otp-methods">
    {{ range .Data.Methods }}
      <div>
        <button type="submit" name="method" value="{{ .ID }}">
          {{ if eq .Mechanism "sms" }}
            <div class="otp-method-info">
              <i class="material-icons otp-method-icon">chat_bubble_outline</i>
              <div>
                <h4>SMS verification</h4>
                <p>Enter a single-use code sent to {{ index $.Data.Addresses .ID }}</p>
              </div>
            </div>
            <i class="material-icons">chevron_right</i>
          {{ else if eq .Mechanism "email" }}
            <div class="otp-method-info">
              <i class="material-icons otp-method-icon">mail_outline</i>
              <div>
                <h4>Email verification</h4>
                <p>Email a verification code sent to {{ index $.Data.Addresses .ID }}</p>
              </div>
            </div>
            <i class="material-icons">chevron_right</i>
          {{ end }}
        </button>
      </div>
    {{ end }}
  </div>

{{ end }}