{{ template "base" . }}

{{ define "title" }}Enter code{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      {{ if .Data.Connected }}
        <h2>Success! Device connected</h2>
        <div class="header-info">Continue on your device</div>
      {{ else }}
        <form action="?action=verify" method="post" id="enter-code-form">
          {{ .Data.CsrfField }}

          <h2>Connect a device</h2>

          <div class="form-field">
            <label for="text-field-user-code-input">
              Enter the code that appears on your device
            </label>
            <input id="text-field-user-code-input" name="user-code" value="{{ .Data.SuggestedUserCode }}">
          </div>

          {{ if .Data.Message }}
            <div class="alert-danger">
              {{ .Data.Message }}
            </div>
          {{ end }}

          <button class="submit-button" type="submit" id="sign-in">
            Next
          </button>
        </form>
      {{ end }}
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
