{{ template "base" . }}

{{ define "title" }} Reset authenticator app {{ end }}

{{ define "content" }}
  {{ template "submit_button_disabling_script" . }}
  {{ template "identity_reset_totp_disable_submit_script" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content">
      <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&server_id={{ .Data.ServerID }}&mode={{ .Data.Mode }}" method="post">
        {{ .Data.CsrfField }}

        <h2>Reset authenticator app</h2>

        <div class="form-field">
          <label for="text-field-identifier-input">
            Email | Mobile
          </label>
          <input id="text-field-identifier-input" name="identifier" value="">
        </div>

        {{ if .Data.CaptchaSiteKey }}
          <div class="recaptcha-container">
            <div class="g-recaptcha"
              data-sitekey="{{ .Data.CaptchaSiteKey }}"
              data-callback="enableSubmit"
              data-expired-callback="disableSubmit"
              data-error-callback="disableSubmit"
            ></div>
          </div>
        {{ end }}

        {{ range .Data.FormError.Errors }}
          {{ template "error_message" . }}
        {{ end }}

        <button id="submit-next" class="submit-button" type="submit" {{ if .Data.CaptchaSiteKey }} disabled {{ end }} >
          Next
        </button>
      </form>

      {{ if not .Data.ResetWithoutAuthentication }}
        <div class="buttons-container">
          <a href="{{ .Data.LoginPath }}">Sign In</a>
        </div>
      {{ end }}

    </div>
  </div>

  {{ template "footer" }}
{{ end }}
