{{ define "identity_reset_totp_disable_submit_script" }}

  <script nonce="{{.Config.Nonce}}">

    document.addEventListener("DOMContentLoaded", onPageLoad);
    var captchaSuccess;

    function onPageLoad() {
      setCaptchaOverrides();
      disableButtonsOnEmptyInputs();
      setButtonEnablementOnInput();
    }

    function setCaptchaOverrides() {
      var recaptcha = document.querySelector(".g-recaptcha");
      if(!recaptcha) {
        captchaSuccess = true;
      } else {
        captchaSuccess = false;
        recaptcha.setAttribute("data-callback", "captchaSuccessCallback");
        recaptcha.setAttribute("data-expired-callback", "captchaFailureCallback");
        recaptcha.setAttribute("data-error-callback", "captchaFailureCallback");
      }
    }

    function captchaSuccessCallback() {
      captchaSuccess = true;
      disableButtonsOnEmptyInputs();
    }

    function captchaFailureCallback() {
      captchaSuccess = false;
      disableButtonsOnEmptyInputs();
    }

    function setButtonEnablementOnInput() {
      var identifierInput = document.getElementById("text-field-identifier-input")
      if (!!identifierInput) identifierInput.addEventListener('input', disableButtonsOnEmptyInputs);
    }

    function disableButtonsOnEmptyInputs() {
      var identifierInput = document.getElementById("text-field-identifier-input")
      var submitButton = document.getElementById("submit-next");
      if(submitButton && identifierInput) submitButton.disabled = !identifierInput.value || !captchaSuccess;
    }

  </script>
{{ end }}
