{{ template "base_email" . }}

{{ define "content" }}
<div class="heading2">{{ if eq .Data.Details.AddCredentials.Type "webauthn" }}New passkey {{ else }}New credential {{ end }} enrollment</div>
<div class="main-text">
    We've received a request to add new {{ if eq .Data.Details.AddCredentials.Type "webauthn" }} passkey{{ else }} credential{{ end }} to your account.<br />
    Your {{ if eq .Data.Details.AddCredentials.Type "webauthn" }}passkey {{ else }}credential {{ end }} enrollment code is:
</div>
<div class="code-container">{{ .Data.OTP.Code }}</div>

<div class="caption content-caption">
If you received this email although you haven't requested the code please do not use the verification code.
</div>
{{ end }}