{{ template "base" . }}

{{ define "title" }}Register{{ end }}

{{ define "content" }}


  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content">
      {{ if not .Data.PublicRegistrationAllowed }}
      {{ template "registration_not_allowed" . }}
      {{ else if eq .Data.TargetViewV2 "otp" }}
      {{ template "register_with_verification_code" . }}
      {{ else if eq .Data.TargetViewV2 "user" }}
      {{ template "register_init" . }}
      {{ else if eq .Data.TargetViewV2 "password" }}
      {{ template "register_with_password" . }}
      {{ else if eq .Data.TargetViewV2 "passkey" }}
      {{ template "register_with_passkey" . }}
      {{ else if eq .Data.TargetViewV2 "totp" }}
      {{ template "register_with_totp" . }}
      {{ end }}
    </div>
  </div>

  {{ template "footer" }}
{{ end }}
