{{ define "register_with_totp" }}

    {{ template "identity_register_ux_improved_scripts" . }}
    {{ template "submit_button_disabling_script" . }}

    <div class="steps-container">STEP <b>2</b> OF <b>3</b></div>

    <h2>Set up authenticator app</h2>

    <input id="from-view-input" name="from-view" type="text" value="totp" form="sign-up-form" hidden>

    <div class="form-field">
        <label for="entered-identifier">
            Email | Mobile
        </label>
        <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" value="{{ .Data.EnteredIdentifier }}" disabled>
    </div>

    <div class="form-field totp-container" id="totp-container">
        <label for="text-field-totp-input">
            <span id="authenticator-label">Scan QR code with your authenticator app</span>
        </label>

        <div class="totp-qrcode-container">
            <div id="totp-qrcode" data-qrdata="{{.Data.TOTPRegistrationURL}}"></div>
        </div>

        <label for="text-field-totp-input">
            <span id="totp-label">Enter generated code from the app</span>
        </label>

        <div id="totp-input-container" class="form-field otp-input-container">
            <input type="hidden" name="totp" value="" id="totp-input" form="sign-up-form">
        </div>

        {{ range .Data.FormError.Errors }}
            {{ template "error_message" . }}
        {{ end }}
    </div>

    {{ template "form" . }}

    <div class="buttons-container-full-width extra-top-margin">
        <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
            Back
        </button>

        <button class="contained-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
            <span>Continue</span>
            <div class="non-visible">{{ template "loader" . }}</div>
        </button>
    </div>

    {{ if (or .Data.CodeAuthEnabled .Data.PasswordAuthEnabled .Data.PasskeyAuthEnabled) }}
        <div class="spacer-container extra-top-margin-small">
            <div>or register with</div>
        </div>
    {{ end }}

    {{ if .Data.PasswordAuthEnabled }}
        <button class="href-card" type="submit" name="action" value="change_to_password_entry" form="sign-up-form">
            <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="password method image" />
      </span>
                <span>Password</span>
            </div>
        </button>
    {{ end }}

    {{ if .Data.CodeAuthEnabled }}
        <button class="href-card" type="submit" name="action" value="change_to_verification_code_entry" form="sign-up-form">
            <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code method image" />
      </span>
                <span>Verification Code</span>
            </div>
        </button>
    {{ end }}

    {{ if .Data.PasskeyAuthEnabled }}
        <button class="href-card" type="submit" name="action" value="change_to_passkey_entry" form="sign-up-form">
            <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="passkey method image" />
      </span>
                <span>Passkey</span>
            </div>
        </button>
    {{ end }}

{{ end }}
