{{ define "register_with_password" }}

{{ template "password_visibility_script" . }}
{{ template "submit_button_disabling_script" . }}
{{ template "identity_register_ux_improved_scripts" . }}

<div class="steps-container">STEP <b>2</b> OF <b>3</b></div>
<h2>Set up password</h2>

<input id="from-view-input" name="from-view" type="text" value="password" form="sign-up-form" hidden>

<div class="form-field">
  <label for="entered-identifier">
    Email | Mobile
  </label>
  <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" value="{{ .Data.EnteredIdentifier }}" disabled>
</div>

<div class="form-field">
  <label for="text-field-password-input">
    <span id="password-label">Password *</span>
  </label>

  <div class="input-with-button">
    <input id="text-field-password-input" name="password" type="password" form="sign-up-form">
    <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
      <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
  </div>

  {{ template "password_strength" . }}

  {{ range .Data.FormError.Errors }}
    {{ template "error_message" . }}
  {{ end }}

</div>

<div class="form-field">
  <label for="text-field-repeat-password-input">
    <span id="repeat-password-label">Repeat password *</span>
  </label>

  <div class="input-with-button">
    <input id="text-field-repeat-password-input" name="repeatPassword" type="password" form="sign-up-form">
    <button id="toggle-repeat-password-visibility-button" type="button" aria-label="Toggle password visibility">
      <i id="toggle-repeat-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
  </div>
</div>

{{ template "form" . }}

<div class="buttons-container-full-width extra-top-margin">
  <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
    Back
  </button>

  <button class="contained-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
    <span>Continue</span>
    <div class="non-visible">{{ template "loader" . }}</div>
  </button>
</div>

{{ if (or .Data.CodeAuthEnabled .Data.PasskeyAuthEnabled .Data.TOTPAuthEnabled) }}
<div class="spacer-container extra-top-margin-small">
  <div>or register with</div>
</div>
{{ end }}

{{ if .Data.CodeAuthEnabled }}
<button class="href-card" type="submit" name="action" value="change_to_verification_code_entry" form="sign-up-form">
  <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code method image" />
      </span>
    <span>Verification Code</span>
  </div>
</button>
{{ end }}

{{ if .Data.PasskeyAuthEnabled }}
<button class="href-card" type="submit" name="action" value="change_to_passkey_entry" form="sign-up-form">
  <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="passkey method image" />
      </span>
    <span>Passkey</span>
  </div>
</button>
{{ end }}

{{ if .Data.TOTPAuthEnabled }}
    <button class="href-card" type="submit" name="action" value="change_to_totp_entry" form="sign-up-form">
        <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="authenticator app method image" />
      </span>
            <span>Authenticator App</span>
        </div>
    </button>
{{ end }}

{{ end }}
