{{ define "register_with_passkey" }}

{{ template "identity_register_ux_improved_webauthn_scripts" . }}
{{ template "submit_button_disabling_script" . }}

<div class="steps-container">STEP <b>2</b> OF <b>3</b></div>
<h2>Generate new passkey</h2>

<input id="from-view-input" name="from-view" type="text" value="passkey" form="sign-up-form" hidden>

<div class="form-field">
  <label for="entered-identifier">
    Email | Mobile
  </label>
  <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" value="{{ .Data.EnteredIdentifier }}" disabled>
</div>

<div id="webauthn-error" class="alert-danger" hidden></div>

{{ template "form" . }}

<div class="buttons-container-full-width extra-top-margin">
  <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
    Back
  </button>

  <button class="contained-button" type="submit" id="submit-next" name="action" value="submit" form="sign-up-form" {{ if .Data.CaptchaSiteKey }}disabled{{end}}>
    <span>Continue</span>
    <div class="non-visible">{{ template "loader" }}</div>
  </button>
</div>

{{ if (or .Data.PasswordAuthEnabled .Data.CodeAuthEnabled .Data.TOTPAuthEnabled) }}
<div class="spacer-container extra-top-margin-small">
  <div>or register with</div>
</div>
{{ end }}

{{ if .Data.PasswordAuthEnabled }}
<button class="href-card" type="submit" name="action" value="change_to_password_entry" form="sign-up-form">
  <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="icon" />
      </span>
    <span>Password</span>
  </div>
</button>
{{ end }}

{{ if .Data.CodeAuthEnabled }}
<button class="href-card" type="submit" name="action" value="change_to_verification_code_entry" form="sign-up-form">
  <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="icon" />
      </span>
    <span>Verification Code</span>
  </div>
</button>
{{ end }}

{{ if .Data.TOTPAuthEnabled }}
    <button class="href-card" type="submit" name="action" value="change_to_totp_entry" form="sign-up-form">
        <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="icon" />
      </span>
            <span>Authenticator App</span>
        </div>
    </button>
{{ end }}

{{ end }}