{{ define "authn_password" }}

    <div class="log-in-header-container">
        <h2 id="log-in-header">{{ if .Data.IsForceAuthMode}}Confirm{{ else }}Log in{{ end }} with password</h2>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if .Data.IsForceAuthMode}}
        <div class="login-welcome-back-card">
            <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
            <div>
            <div class="login-welcome-back-card-name">
                {{ .Data.UserDisplayName }}
            </div>
            </div>
        </div>
    {{ else }}
        <div class="form-field">
          <label for="text-field-username-input" class="label-with-link">
              <span id="username-label">Email | Mobile | Username</span>
          </label>
          <input id="text-field-username-input" name="identifier" autocomplete="off" value="{{ .Data.Identifier }}" {{ if .Data.Is2FAStep }} disabled{{ end }}>
        </div>
    {{ end }}

    <div class="form-field" id="password-container">
        <label for="text-field-password-input">
            <span id="password-label">Password</span>
      <a href="{{ .Data.ResetPasswordPath }}" id="forgot-password" class="input-above-link" tabindex="0">Forgot?</a>
        </label>

        <div class="input-with-button">
            <input id="text-field-password-input" name="password" type="password" autocomplete="off">
            <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
                <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
            </button>
        </div>
    </div>

    {{ template "reduce_mfa_prompts" . }}

    <button class="submit-button" type="submit" id="sign-in-button">
        Continue
    </button>

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="checkbox" name="passwordMode" id="passwordMode" checked class="non-visible">
    <input type="hidden" name="authn_mode" value="password_view" id="authnView-input">

    <div class="non-visible" id="version" data-version="identity-pool-login"></div>

{{ end }}
