{{ define "authn_set_new_password" }}

  <h2>Set new password</h2>

  <div class="form-field">
    <label for="text-field-password-input">
    <span id="password-label">Password *</span>
    </label>

    <div class="input-with-button">
    <input id="text-field-password-input" name="password" type="password">
    <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
      <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
    </div>

    {{ template "password_strength" . }}

  {{ range .Data.FormError.Fields.password }}
    {{ template "error_message" . }}
  {{ end }}
  </div>

  <div class="form-field">
    <label for="text-field-repeat-password-input">
    <span id="repeat-password-label">Repeat password *</span>
    </label>

    <div class="input-with-button">
    <input id="text-field-repeat-password-input" name="repeatPassword" type="password">
    <button id="toggle-repeat-password-visibility-button" type="button" aria-label="Toggle password visibility">
      <i id="toggle-repeat-password-visibility-icon" class="material-icons">visibility_off</i>
    </button>
    </div>

  </div>

  {{ template "reduce_mfa_prompts" . }}

  <button class="submit-button" type="submit" name="action" value="set_new_password_after_authn" id="send-code-button">Continue</button>

{{ end }}
