{{ define "authn_use_otp_alternative" }}

  <h2 id="log-in-header">Provide alternative</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">Email | Mobile</span>
    </label>
    <input id="text-field-username-input" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
  </div>

  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  {{ template "reduce_mfa_prompts" . }}

  <div class="buttons-container-full-width">
    <button class="text-button" type="submit" name="action" value="change_to_otp_verify" id="back-to-verify-otp">Back</button>
    <button class="contained-button" type="submit" name="action" value="send_otp" id="send-code-button">Continue</button>
  </div>

  {{ if .Data.AuthnModeSwitch }}
      {{ template "authn_methods" . }}
  {{ end }}

{{ end }}
