{{ define "authn_totp" }}

  <div class="log-in-header-container">
      <h2 id="log-in-header">{{ if .Data.IsForceAuthMode}}Confirm{{ else }}Log in{{ end }} with authenticator</h2>
      {{ if .Data.Is2FAStep }}
          <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor icon" class="icon-2fa"/>
      {{ end }}
  </div>

  {{ if .Data.IsForceAuthMode}}
      <div class="login-welcome-back-card">
        <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
        <div>
          <div class="login-welcome-back-card-name">
            {{ .Data.UserDisplayName }}
          </div>
        </div>
      </div>
  {{ else }}
      <div class="form-field">
        <label for="text-field-username-input" class="label-with-link">
          <span id="username-label">Email | Mobile | Username</span>
        </label>
            <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}"{{ if .Data.Is2FAStep }} disabled{{ end }}>
      </div>
  {{ end }}

   <div class="form-field totp-container" id="totp-container">
       <label for="text-field-totp-input">
           <span id="totp-label">Enter code from your authenticator app</span>
           <a href="{{ .Data.ResetTOTPPath }}" id="forgot-totp" class="input-above-link" tabindex="0">Lost authenticator?</a>
       </label>

       <div id="totp-input-container" class="form-field otp-input-container">
            <input type="hidden" name="totp" value="" id="totp-input">
       </div>
   </div>

  {{ template "reduce_mfa_prompts" . }}

  <button class="submit-button" type="submit" id="totp-sign-in-button">
      Continue
  </button>

  {{ if .Data.AuthnModeSwitch }}
    {{ template "authn_methods" . }}
  {{ end }}

  <input type="checkbox" name="totpMode" id="totpMode" checked class="non-visible">
  <input type="hidden" name="authn_mode" value="totp_view" id="authnView-input">

  <div class="non-visible" id="version" data-version="identity-pool-login"></div>
{{ end }}
