{{ define "authn_use_otp_alternative" }}

  <h2 id="log-in-header">Provide alternative</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">Email | Mobile</span>
    </label>
    <input id="text-field-username-input" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
  </div>

  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

    {{ if and .Data.Is2FAStep .Data.ReduceMFAPromptsAvailable }}
        <div class="pool-login-reduce-mfa-prompts-switch-container">
              <div id="reduce-mfa-prompts">
                  <label class="switch-container" tabindex="0">
                    <div class="switch">
                      <input type="checkbox" name="reduce_mfa_prompts" tabindex="-1" {{ if .Data.ReduceMFAPromptsSelected }} checked {{ end }}>
                      <span class="slider"></span>
                    </div>
                    <span>Don't ask again on this device</span>
                  </label>
              </div>
        </div>
    {{ end }}

  <button class="submit-button" type="submit" name="action" value="send_otp" id="send-code-button">
    Continue
  </button>

{{ end }}
