{{ define "authn_otp_verify" }}

    <div class="notification-container" id="code-sent-notification">
        <i class="material-icons">send</i>
        <span>We sent a code to {{ .Data.ResolvedDestinationAddress }}</span>
    <button id="use-alternative-address-button" type="submit" name="action" value="change_to_otp_use_alternative">Use Alternative</button>
    </div>

  <input id="original-identifier-input" type="hidden" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
    <input type="checkbox" name="otpMode" id="otpMode" checked class="non-visible">

    <div class="log-in-header-container">
        <h2 id="log-in-header">Verify code</h2>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="icon" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if .Data.IsForceAuthMode}}
        <div class="login-welcome-back-card">
            <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="icon"/>
            <div>
            <div class="login-welcome-back-card-name">
                {{ .Data.UserDisplayName }}
            </div>
            </div>
        </div>
    {{ else }}
    <div class="form-field">
        <label for="text-field-username-input" class="label-with-link">
            <span id="username-label">User Identifier</span>
            {{ if not .Data.Is2FAStep }}
                <button id="not-you-button" type="submit" name="action" value="change_to_otp">Change</button>
            {{ end }}
        </label>
        <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}" disabled>
    </div>
    {{ end }}

    <div class="form-field" id="otp-container">
        <div id="otp-input-container" class="form-field otp-input-container">
            <input type="hidden" name="otp" value="" id="otp-input">
        </div>
        <div class="footer-with-link">
            Still didn't receive?
            <button id="resend-otp" type="submit" name="action" value="send_otp">Resend Code</button>
        </div>
    </div>

    {{ template "reduce_mfa_prompts" . }}

    {{ if and (or .Data.Is2FAStep .Data.IsForceAuthMode) .Data.AuthnModeSwitch }}
        <div class="buttons-container-full-width">
            <button class="text-button" type="submit" name="action" value="change_to_otp">Back</button>
            <button class="contained-button" type="submit" id="verify-button">Continue</button>
          </div>
    {{ else }}
        <button class="submit-button" type="submit" id="verify-button">Continue</button>
    {{ end }}

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="hidden" name="authn_mode" value="otp_send_view" id="authnView-input">

{{ end }}
