{{ define "authn_web_authn" }}

    <div class="log-in-header-container">
        <h2 id="log-in-header" {{ if .Data.IsForceAuthMode}}class="no-margin-bottom"{{ end }}>
            {{ if .Data.IsForceAuthMode}}
                {{ T . "identity.login.authn_mode_web_authn.confirm_with" }}
            {{ else }}
                {{ T . "identity.login.authn_mode_web_authn.login_with" }}
            {{ end }} 
        </h2>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if .Data.IsForceAuthMode}}
        <label class="label-with-link">
            <span id="empty-webauthn-label"></span>
            <a href="{{ .Data.ResetWebAuthnPath }}" id="forgot-passkey" class="input-above-link">{{ T . "identity.login.authn_mode_web_authn.no_access" }}</a>
        </label>
        <div class="login-welcome-back-card">
            <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person"/>
            <div>
            <div class="login-welcome-back-card-name">
                {{ .Data.UserDisplayName }}
            </div>
            </div>
        </div>
    {{ else }}
        <div class="form-field">
          <label for="text-field-username-input" class="label-with-link">
            <span id="username-label">{{ T . "identity.login.authn_mode_web_authn.username_label" }}</span>
            <a href="{{ .Data.ResetWebAuthnPath }}" id="forgot-passkey" class="input-above-link">{{ T . "identity.login.authn_mode_web_authn.no_access" }}</a>
          </label>
          <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}"{{ if .Data.Is2FAStep }} disabled{{ end }}>
        </div>
    {{ end }}

    {{ if .Data.IsForceAuthMode }}
        <input id="user-id" type="hidden" name="user_id" value={{ .Data.UserID }} >
    {{ end }}

    {{ template "reduce_mfa_prompts" . }}

    <button class="submit-button" type="submit" id="web-authn-sign-in-button">{{ T . "identity.login.authn_mode_web_authn.continue" }}</button>

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="checkbox" name="webAuthnMode" id="webAuthnMode" checked class="non-visible">
    <input type="hidden" name="authn_mode" value="web_authn_view" id="authnView-input">
    <input type="hidden" name="web_authn_error" id="hidden-text-field-webauthn-error">

{{ end }}