{{ template "base" . }}

{{ define "title" }}{{ T . "identity.login.index.log_in" }}{{ end }}

{{ define "content" }}
  {{ template "identity_login_scripts" . }}
  {{ template "password_visibility_script" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      {{ if .Data.AuthnView }}
        {{ template "authn" . }}
      {{ else }}
        <div class="alert-danger">{{ T . "identity.login.index.no_mechanisms" }}</div>
      {{ end }}
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
