{{ define "reduce_mfa_prompts" }}
    {{ if and .Data.Is2FAStep .Data.ReduceMFAPromptsAvailable }}
        <div class="pool-login-reduce-mfa-prompts-switch-container">
            <div id="reduce-mfa-prompts">
                <label class="switch-container" tabindex="0">
                    <div class="switch">
                        <input type="checkbox" name="reduce_mfa_prompts" tabindex="-1" {{ if .Data.ReduceMFAPromptsSelected }} checked {{ end }}>
                        <span class="slider"></span>
                    </div>
                    <span>Don't ask again on this device</span>
                </label>
            </div>
        </div>
    {{ end }}
{{ end }}