{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">
Excellent!
    {{ if .Data.AccountType }}
        <b> Your {{.Data.AccountType}} account is ready to be activated.</b>
    {{ else }}
        <b> Your account is ready to be activated.</b>
    {{ end }}
</div>
<div class="main-text">Just one more step to access it.</div>
<div class="link-container">
	<a href="{{ .Data.OTP.Link }}" rel="noopener noreferrer">Activate account</a>
</div>
<div class="helper-link-container">
Alternatively, copy this link and follow it in your browser
<div class="link-container-box">{{ .Data.OTP.Link }}</div>
</div>

<div class="caption content-caption">
You received this email because you have registered a tenant with SecureAuth.
</div>
{{ end }}