{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">
Excellent!
<b> Your account is ready to be activated.</b>
</div>
<div class="main-text">Enter the code below on the account activation page to activate you account.</div>
<div class="code-container">{{ .Data.OTP.Code }}</div>

<div class="caption content-caption">
You received this email because you have registered a tenant with SecureAuth.<br/>
If you received this email although you haven't requested the code please do not use the verification code.
</div>
{{ end }}