{{ template "base" . }}

{{ define "title" }} User Registration {{ end }}

{{ define "content" }}

  {{ template "identity_activate_scripts" . }}

  <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&code={{ .Data.Code }}&promptForPassword={{ .Data.PromptForPassword }}&promptForWebAuthn={{ .Data.PromptForWebAuthn }}&identifier={{ .Data.Identifier }}&server_id={{ .Data.ServerID }}&go_to={{ .Data.GoTo }}&post_activation_url={{ .Data.PostAuthenticationURL }}" method="post" id="sign-up-form">
    <div class="header-container">
      {{ template "header" .Config }}
    </div>

    {{ $mode := .Data.Mode }}

    <div class="card">
      <div class="content" id="main-content">

        {{ range .Data.FormError.Errors }}
          <div class="error-container">
            <i class="material-icons">error_outline</i>
            {{ .Message }}
          </div>
        {{ end }}

        {{ if not .Data.Code }}
          {{ template "setup_with_otp" . }}
        {{ else if eq $mode "web_authn" }}
          {{ template "setup_with_web_authn" . }}
        {{ else if eq $mode "password" }}
          {{ template "setup_with_password" . }}
        {{ else if eq $mode "totp" }}
          {{ template "setup_with_totp" . }}
        {{ end }}
      </div>
    </div>
  </form>

  {{ template "footer" . }}
{{ end }}
