{{ define "setup_with_password" }}

  {{ template "password_visibility_script" . }}
  {{ template "identity_activate_disable_submit_empty_passwords_script" . }}

  <h2>Set up Password</h2>

  <div class="form-field">
    <label for="text-field-username-input">
      Email | Mobile
    </label>
    <input id="text-field-username-input" name="username" autocomplete="off" data-lpignore="true" value="{{ .Data.Identifier }}" disabled>
  </div>

  <div class="form-field">
    <label for="text-field-password-input">
      <span id="password-label">Password *</span>
    </label>

    <div class="input-with-button">
      <input id="text-field-password-input" name="password" type="password">
      <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
        <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
      </button>
    </div>

    {{ template "password_strength" }}

    {{ range .Data.FormError.Fields.password }}
      {{ template "error_message" . }}
    {{ end }}

  </div>

  <div class="form-field">
    <label for="text-field-repeat-password-input">
      <span id="repeat-password-label">Repeat password *</span>
    </label>

    <div class="input-with-button">
      <input id="text-field-repeat-password-input" name="repeatPassword" type="password">
      <button id="toggle-repeat-password-visibility-button" type="button" aria-label="Toggle password visibility">
        <i id="toggle-repeat-password-visibility-icon" class="material-icons">visibility_off</i>
      </button>
    </div>
  </div>

  <div class="buttons-container-full-width extra-top-margin">
    <button class="contained-button" type="submit" id="sign-up-button">
      <span>Continue</span>
      <div class="non-visible">{{ template "loader" }}</div>
    </button>
  </div>

  {{ if .Data.ModeSwitch }}
    <div class="spacer-container extra-top-margin-small">
        <div>or register with</div>
    </div>

    <button class="href-card" type="submit" name="action" value="change_to_web_authn">
        <div>
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="icon" />
        </span>
        <span>Passkey</span>
        </div>
    </button>
  {{ end }}

{{ end }}