{{ define "setup_with_web_authn" }}

  <h2>Generate new passkey</h2>

  <div class="form-field">
    <label for="text-field-username-input">
      Email | Mobile
    </label>
    <input id="text-field-username-input" name="username" autocomplete="off" data-lpignore="true" value="{{ .Data.Identifier }}" disabled>
  </div>

  <div class="buttons-container-full-width extra-top-margin">
    <button class="contained-button" type="submit" id="sign-up-button">
      <span>Continue</span>
      <div class="non-visible">{{ template "loader" . }}</div>
    </button>
  </div>

  {{ if (or .Data.PasswordAuthEnabled .Data.TOTPAuthEnabled .Data.OTPAuthEnabled) }}
      <div class="spacer-container extra-top-margin-small">
          <div>or register with</div>
      </div>

      {{ if .Data.PasswordAuthEnabled }}
          <button class="href-card" type="submit" name="action" value="change_to_password">
              <div>
            <span class="href-card-avatar href-card-avatar-with-img small-icon">
              <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="password authentication method image" />
            </span>
                  <span>Password</span>
              </div>
          </button>
      {{ end }}

      {{ if .Data.TOTPAuthEnabled }}
          <button class="href-card" type="submit" name="action" value="change_to_totp">
              <div>
          <span class="href-card-avatar href-card-avatar-with-img small-icon">
            <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="authenticator app authentication method image" />
          </span>
                  <span>Authenticator App</span>
              </div>
          </button>
      {{ end }}

      {{ if .Data.OTPAuthEnabled }}
        <button class="href-card" type="submit" name="action" value="skip">
          <div>
            <span class="href-card-avatar href-card-avatar-with-img small-icon">
              <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code authentication method icon" />
            </span>
            <span>Verification Code</span>
          </div>
        </button>
      {{ end }}
  {{ end }}

  <input type="hidden" name="web_authn_error" id="hidden-text-field-webauthn-error">

{{ end }}
