{{ define "demo-login" }}

<div class="content" id="main-content">
  <form action="?action=login" method="post">
    <button id="sign-in" class="submit-button">
      Log in to demo app
    </button>

    <button id="advanced-button" class="text-button full-width" type="button">
      Configuration
    </button>

    <div class="aut-hidden" id="advanced">
      <div class="form-field">
        <label for="client_id-input">Client ID</label>
        <input id="client_id-input" name="client_id" value="{{ .Data.ClientID }}">
      </div>

      <div class="form-field">
        <label for="client_secret-input">Client Secret</label>
        <input id="client_secret-input" name="client_secret" value="{{ .Data.ClientSecret }}">
      </div>

      <div class="form-field">
        <label for="redirect_uri-input">Redirect URI</label>
        <input id="redirect_uri-input" name="redirect_uri" value="{{ .Data.RedirectURL }}">
      </div>

      <div class="form-field">
        <label for="response_type-input">Response type</label>
        <input id="response_type-input" name="response_type" value="code">
      </div>

      <div class="form-field">
        <label for="response_mode-input">Response mode</label>
        <input id="response_mode-input" name="response_mode" value="">
      </div>

      <div class="form-field">
        <label for="prompt-input">Prompt</label>
        <input id="prompt-input" name="prompt" value="">
      </div>

      <div class="form-field">
        <label for="state-input">State</label>
        <input id="state-input" name="state" value="{{ .Data.State }}">
      </div>

      <div class="form-field">
        <label for="scope-input">Scope</label>
        <input id="scope-input" name="scope" value="{{ .Data.Scope }}">
      </div>

     <div class="form-field">
        <label for="purpose-input">Purpose</label>
        <input id="purpose-input" name="purpose" value="{{ .Data.Purpose }}">
      </div>

      <div class="form-field">
        <label for="login_hint-input">Login hint</label>
        <input id="login_hint-input" name="login_hint" value="{{ .Data.LoginHint }}">
      </div>

      <div class="form-field">
        <label for="idp_hint-input">IDP hint</label>
        <input id="idp_hint-input" name="idp_hint" value="{{ .Data.IDPHint }}">
      </div>

      <div class="form-field">
        <label for="acr_values-input">ACR values</label>
        <input id="acr_values-input" name="acr_values" value="{{ .Data.AcrValues }}">
      </div>

      <div class="form-field">
        <label for="max_age-input">Max age</label>
        <input id="max_age-input" name="max_age" value="{{ .Data.MaxAge }}">
      </div>

      <div class="form-field">
        <label for="nonce-input">Nonce</label>
        <input id="nonce-input" name="nonce" value="{{ .Data.Nonce }}">
      </div>

      <div class="form-field">
        <label for="jwk-input">JSON Web Key for Encryption</label>
        <textarea rows="6" id="jwk-input" name="jwk">{{ .Data.Jwk }}</textarea>
        <div class="text-field-helper">Provide a JSON with single JSON Web Key containing private key</div>
      </div>
    </div>
  </form>
</div>
{{ end }}
