{{ template "base" . }}

{{ define "title" }} Log in {{ end }}

{{ define "content" }}
  <div class="loading-overlay" id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div id="content-container">
    <div class="card">
      <div id="sign-in">
        <div class="content">
          <div class="skeleton skeleton-input" style="width: 100%;"></div>
          <div class="skeleton skeleton-input" style="width: 100%;"></div>
          <div class="skeleton skeleton-button" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ .Data.DBFPURL }}"></script>

  <script nonce="{{ .Nonce }}">
    const baseURL = `${window.location.protocol}//${window.location.host}`;
    const startTime = performance.now();

    function redirect(status, duration) {
      const redirectURL = new URL(decodeURI("{{ .Data.URL }}"), baseURL);
      redirectURL.searchParams.set('dbfp', status);
      redirectURL.searchParams.set('duration', Math.round(duration));
      window.location.href = redirectURL.toString();
    }

    function setDeadline() {
      setTimeout(() => {
        const duration = performance.now() - startTime;
        redirect('failure', duration);
      }, {{ .Data.Timeout }});
    }

    setTimeout(() => {
      const duration = performance.now() - startTime;
      redirect('failure', duration);
    }, {{ .Data.GPSTimeout }});

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setDeadline, setDeadline);
    } else {
      setDeadline();
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.addEventListener('onBfpDataLoad', (e) => {
        const duration = performance.now() - startTime;
        redirect('success', duration);
      });
    });
  </script>

  {{ template "footer" }}
{{ end }}