{{ template "base_email" . }}

{{ define "content" }}
<div class="heading2">{{ if eq .Data.Details.AddCredentials.Type "webauthn" }}New passkey {{ else }}New credential {{ end }} enrollment</div>
<div class="main-text">We've received a request to add new {{ if eq .Data.Details.AddCredentials.Type "webauthn" }} passkey{{ else }} credential{{ end }} to your account.</div>
<div class="link-container">
	<a href="{{ .Data.OTP.Link }}" rel="noopener noreferrer">Add {{ if eq .Data.Details.AddCredentials.Type "webauthn" }}new passkey{{ else }} credential{{ end }}</a>
</div>
<div class="helper-link-container">
Alternatively, copy this link and follow it in your browser
<div class="link-container-box">{{ .Data.OTP.Link }}</div>
</div>

{{ end }}