{{ template "base" . }}

{{ define "title" }}Consent{{ end }}

{{ define "content" }}
  {{ template "consent_scripts" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card" style="position: relative">
    <form action="?login_id={{ .Data.Session.ID }}" method="post">
      {{ .Data.CsrfField }}

      <div class="content">
        {{ template "consent_header" . }}

        {{ if .Data.ScopesWithoutService }}
          {{ template "consent_connect_id_scopes_without_service" . }}
        {{ end }}

        {{ if .Data.ServicesWithScopes }}
          {{ template "consent_connect_id_scopes_with_service" . }}
        {{ end }}

        {{ template "consent_claims" .Data.ClaimsGrouped.Claims }}

        {{ template "consent_verified_claims" .Data.ClaimsGrouped.VerifiedClaims }}

        {{ template "consent_footer" . }}

        {{ template "consent_connect_id_footer" . }}
      </div>
    </form>
  </div>
{{ end }}
