{{ template "base" . }}

{{ define "title" }}SAML Test{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <h3 class="header">SAML Test</h3>

    <div class="content" id="saml-response-raw">
      {{ if .Data.Response  }}
        <pre>{{ .Data.Response }}</pre>
      {{ else }}
        <form action="?action=login" method="post">
          <button class="submit-button" type="submit" id="sign-in">Login</button>
        </form>
      {{ end }}
    </div>
  </div>

  {{ template "footer" }}

{{ end }}
