{{ define "login_content_remembered_idp" }}

  {{ if .Data.RememberedSignInMethod }}
    {{ $context := .Data.RememberedSignInMethod.AuthenticationContext }}

    <div class="login-welcome-back-container" id="welcome-back">
      <h2>Welcome back</h2>
      <div class="login-welcome-back-card">
        <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="welcome back image"/>
        <div>
          <div class="login-welcome-back-card-name">
            {{ or $context.name $context.idp_sub }}
          </div>
          <div class="login-welcome-back-card-email">
            {{ or .Data.RememberedIdentifier $context.email $context.phone $context.idp_sub nil }}
          </div>
        </div>
      </div>

      {{ if (gt (len .Data.Methods) 1) }}
        <button type="submit" class="login-welcome-back-select-different-link" id="go-back-to-idps-list-button" name="mode" value="select-different-account">
          Select a different account
        </button>
      {{ end }}
    </div>
  {{ end }}

{{ end }}
