{{ template "base" . }}

{{ define "title" }} Credential set {{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      <h2>Success!</h2>
      <div class="header-info">You've successfully set up your credential.</div>

      {{ if .Data.LoginPath}}
        <a href="{{ .Data.LoginPath }}">
          <button class="submit-button" id="sign-in">Sign in</button>
        </a>
      {{ end }}
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
