{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ template "title" . }}</title>

    <script src="{{ .Config.Assets }}/static/utils.js" nonce="{{.Config.Nonce}}"></script>
    <script src="{{ .Config.Assets }}/static/zxcvbn.js" nonce="{{.Config.Nonce}}"></script>
    <script src="{{ .Config.Assets }}/static/qrcode.min.js" nonce="{{.Config.Nonce}}"></script>
    <link href="{{ .Config.Assets }}/static/fonts.css" rel="stylesheet" nonce="{{.Config.Nonce}}">
    <link href="{{ .Config.Assets }}/static/material-icons.css" rel="stylesheet" nonce="{{.Config.Nonce}}">
    <link rel="stylesheet" href="{{ .Config.Assets }}/static/style.css" nonce="{{.Config.Nonce}}">
    <link rel="stylesheet" href="{{ .Config.Assets }}/static/style-v2.css" nonce="{{.Config.Nonce}}">
    <link rel="icon" href="{{ .Config.Assets }}/favicon.svg" type="image/svg+xml" nonce="{{.Config.Nonce}}">
    <link rel="icon" href="{{ .Config.Assets }}/favicon.png" type="image/png" nonce="{{.Config.Nonce}}">
    <script src="https://www.google.com/recaptcha/api.js" nonce="{{.Config.Nonce}}" async defer></script>

    {{if .Config.Styling }}
      <style nonce="{{.Config.Nonce}}">
        :root {
          {{ if .Config.Styling.Colors.Primary }}
          --mdc-theme-primary: {{ .Config.Styling.Colors.Primary }};
          --mdc-theme-secondary: {{ .Config.Styling.Colors.Primary }};
          {{ end }}

          {{ if .Config.Styling.Colors.Background }}
          --mdc-theme-background: {{ .Config.Styling.Colors.Background }};
          {{ end }}

          {{ if .Config.Styling.Colors.Header }}
          --header: {{ .Config.Styling.Colors.Header }};
          {{ end }}
        }

        {{ if .Config.Styling.FontURL }}
          @font-face {
            font-family: customBrandingFont;
            src: url({{ .Config.Styling.FontURL }});
          }

          *:not(i):not(.material-icons) {
            font-family: customBrandingFont !important;
          }
        {{ end }}

        {{ if .Config.Styling.LogoURL }}
          .aut-banner-logo > img {
            {{ with (eq .Config.Styling.LogoSize "S") }} height: 24px; {{ end }}
            {{ with (eq .Config.Styling.LogoSize "") }} height: 36px; {{ end }}
            {{ with (eq .Config.Styling.LogoSize "L") }} height: 48px; {{ end }}
         }
        {{ end }}
      </style>
    {{ end }}

  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {{ template "content" . }}
  </body>
</html>

{{ end }}
