{{ define "footer" }}

<!-- a blank div to fill unused space right before the footer -->
<div style="flex: 1"></div>

<footer>
  <div>Copyright © {{ now.Year }} SecureAuth. All Rights Reserved</div>
</footer>

{{ end }}