{{ define "form_password" }}

<div class="form-field" id="{{.ID}}-container">
  <label for="{{.ID}}">
    <span id="{{.ID}}-label">
      {{ .Label }}
      
      {{ if .TooltipText }}
        {{ template "tooltip" .TooltipText }}
      {{ end }}
    </span>
  </label>

  <div class="input-with-button">
    <input 
      type="password" 
      name="{{.Name}}" 
      {{ if .ID }}id="{{.ID}}"{{else}}id="text-field-{{.Name}}-input"{{ end }} 
      class="{{ if .Classes }}{{ range .Classes }} {{.}}{{ end }}{{ end }}"
      style="{{ range $k, $v := .CSS }}{{$k}}:{{$v}};{{ end }}" 
      {{ if .Value }} value="{{.Value}}"{{ end }} 
      {{ range $k, $v := .Params }}{{$k}}="{{$v}}"{{ end }}
    >
    <button id="toggle-{{.Name}}--visibility-button" type="button" aria-label="Toggle password visibility">
      <i id="toggle-{{.Name}}--visibility-icon" class="material-icons">visibility_off</i>
    </button>
  </div>

  {{ if eq .Name "password" }}
    {{ template "password_strength" . }}
  {{ end }}

  {{ if .Errors }}
    {{ range .Errors}}
      <div class="alert-danger">{{.}}</div>
    {{ end }}
  {{ end }}
</div>

{{ end }}
