{{ template "base" . }}

{{ define "title" }}Error{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div id="error-container">
    <input type="hidden" id="error" value="{{ .Data.Error }}">
    <input type="hidden" id="cause" value="{{ .Data.Cause }}">
    <img src="{{ .Config.Assets }}/static/images/no-idp.svg" alt="no idp image" />
    <div id="error-title">{{ .Data.Name }}</div>
    <div id="error-description">{{ .Data.Description }}.</div>

    {{ if .Data.Hint  }}
      <div id="error-hint">{{ .Data.Hint }}</div>
    {{ end }}

    {{ if .Data.RetryURL }}
      <br/>
      <a href="{{ .Data.RetryURL }}">Retry</a>
    {{ end }}

    {{ if .Data.Version }}
      <div class="error-details">Version: {{ .Data.Version }}</div>
    {{ end }}

    {{ if .Data.TraceID }}
      <div class="error-details">ID: {{ .Data.TraceID }}</div>
    {{ end }}

    {{ if .Data.AuthorizationCorrelationID }}
      <div class="error-details">Correlation-ID: {{ .Data.AuthorizationCorrelationID }}</div>
    {{ end }}
  </div>

{{ template "footer" . }}

{{ end }}
