{{ template "base" . }}

{{ define "title" }}Choose an account{{ end }}

{{ define "content" }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      {{ .Data.CsrfField }}

      <h2 class="margin-bottom-16">Choose an account</h2>

      <div class="header-info">to continue to <b>{{ .Data.AppName }}</b></div>

      <a class="choose-account-card-link" href="{{ .Data.SelectOriginalAccountURL }}">
        <div class="login-welcome-back-card">
          <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="welcome back image"/>
          <div>
            <div class="login-welcome-back-card-name">
              {{ or .Data.SSOSession.AuthenticationContext.name .Data.SSOSession.Subject }}
            </div>
            <div class="login-welcome-back-card-email">
              {{ or .Data.SSOSession.AuthenticationContext.email .Data.SSOSession.Subject }}
            </div>
          </div>
        </div>
      </a>

      <a href="{{ .Data.SelectDifferentAccountURL }}" class="login-welcome-back-select-different-link no-bottom-margin">
        Sign in with different account
      </a>
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
